<!DOCTYPE html>
<html>
<head>
    <title>Victim List</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <h1>Victim List</h1>
    <a href="{% url 'add_victim' %}">Add New Victim</a>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Phone</th>
                <th>Location</th>
                <th>Need</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for victim in victims %}
            <tr>
                <td><a href="{% url 'victim_detail' victim.id %}">{{ victim.name }}</a></td>
                <td>{{ victim.phone }}</td>
                <td>Lat: {{ victim.location_lat }}, Lon: {{ victim.location_lon }}</td>
                <td>{{ victim.need }}</td>
                <td>
                    <a href="{% url 'update_victim' victim.id %}">Edit</a> |
                    <a href="{% url 'delete_victim' victim.id %}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
